
.topnav {
  height:auto;
  background-color: #76192e;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.topnav a {

  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px;

  text-decoration: none;
  font-size: 30px;
  vertical-align:middle
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
body {
  background-color: #012943;
}
html {
  scroll-behavior: smooth;
}
h1 {text-align: center;
color:white;
padding-top:10%;}
p {text-align: center;
color:white;
margin: 0% 0% 0%;
}
div {text-align: center;
color:white;}

*{
border: 0;
padding: 0;
margin: 0;
font-family: 'Source Sans Pro', sans-serif;

}
.about, .services, .contact{
	text-align:center;
	padding: 18px;
  margin-top: 100px;
  text-color: white;
  font-size:  20px;

  height: 1500px; /* Used in this example to enable scrolling */

}
.about{
}
.services{
	text-align:center;
}
.contact{
	text-align:center;
}
.topnav a.active {
  background-color: #76192e;
  color: white;
}

.topnav .icon {
  display: block;
}
.main {
	text-align:center;

}

.footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #76192e;;
  color: white;
  text-align: center;
}
/* Add styles to 'container' class */
.container {
	padding: 12px 24px 24px 24px;
	margin: 0% 0% 0%;
	background: #76192e;;
	border-radius: 4px;
  margin-bottom: 15%;
}

/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #012943;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
